<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <nav class="header">
            <a href="#main1"><img src ="images/Screenshot 2025-03-23 235050.png" alt="logo" id="logo"></a>
            <a href="#main1" id="logoname">PlanGo</a>
            <a href="#footer12" id="header1">About Us</a>
            <a href="#footer13" id="header2">Contact Us</a>
            <h1 id="signin">Sign In</h1>
        </nav>
    </header>
    <main>
        <div id="main1">
            <p id="main11">Your seamless travel planning, all in one place</p>
            <h2 id="main12">With just a click, planning your dream trip has never been simpler.</h2>
            <div id="main13">
                <a id="main14" href="/ai" >Plan Your Adventure</a>
            </div>
        </div>
        <!-- <div class="main2">
            <h6 id="main21">Create your journey</h6>
            <p id="main22">AI-Powered Itineraries, Inspired by Real Travelers!  Plan smarter with insights from those who've been there—your perfect trip, crafted effortlessly!</p>
        </div>
        <div class="main3">
            <h1></h1>
        </div> -->
        <div class="main4">
            <span>
                <h1 id="main41">Are you planning a Trip?</h1>
                <h2 id="main42">Let us take the hassle out of organizing your journey! Our planner curates personalized itineraries based on your interests, budget, and real traveler reviews. Whether it’s a weekend getaway or a dream vacation, we help you discover the best experiences effortlessly</h2>
            </span>
            <img src="images/download (1).jpg" id="main43">
            <img src="images/Hawa mahal in Jaipur, Rajasthan.jpg" id="main44">
        </div>
        <div class="main5">
            <img src="images/8 AMAZING Things to Do in Antalya, Turkey (Travel Guide) _ Sam and Kels Adventures.jpg" id="main51">
            <img src="images/15 Secret Gems in Antalya You Need to Explore.jpg" id="main52">
            <span>
                <h1 id="main53">Looking for new travel experiences?</h1>
                <h2 id="main54">Discover hidden gems, top-rated spots, and unique adventures with our AI-powered itinerary planner. Get recommendations based on real traveler insights and craft a trip that’s truly unforgettable!</h2>
            </span>
        </div>
        <div class="main6">
            <div id="main61">The only tool youll ever need!</div>
            <div id="main62">
                PlanGo AI
            </div>
            <p id="main63">
                Say goodbye to the stress of planning and hello to personalized recommendations, efficient
                <span id="main64">itineraries, and seamless dining experiences.</span>
            </p>
            <div class="main65">
                <span id="main66">
                    <span id="main661">
                        <h1 id="main662">Optimal Route Planning</h1>
                        <p id="main663">Our AI algorithms analyze your preferences to craft the most efficient route, saving you time and effort.</p>
                    </span>
                </span>
                <span id="main67">
                    <span id="main671">
                        <h1 id="main672">Personalize Your Adventure</h1>
                        <p id="main673">Shape your journey by freely adding, editing, or deleting activities from your itinerary.</p>
                    </span>
                </span>
                <span id="main68">
                    <span id="main681">
                        <h1 id="main682">Local Cuisine Recommendations</h1>
                        <p id="main683">Discover local cuisines and hidden gems recommended by our AI, tailored to your taste buds.</p>
                    </span>
                </span>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer1">
            <div id="footer11">
                <h1>Useful Link</h1>
                <a href="#main1" id="footer111">Home</a>
                <a href="#footer12" id="footer112">About Us</a>
                <a href="#footer13" id="footer111">Contact Us</a>
            </div>
            <div id=footer12>
                <h1>About Us</h1>
                <p>We are a team of passionate people whose goal is to improve everyone's journey through our services. We provide great service to solve your problems.</p>
            </div>
            <div id="footer13">
                <h1>Connect with Us</h1>
                <div id="footer131">
                    <img src="images/mail.webp" id="footer1311">
                    <p>piyush121goyal@gmail.com</p>
                </div>
                <div id="footer132">
                    <img src="images/call.webp" id="footer1321">
                    <p>+91-1234567891</p>
                </div>
            </div>
        </div>
        <div class="footer2">
            <div>
                Copyright © PlanGo     
            </div>
        </div>
    </footer>
</body>
</html>